
<%- include('header') %>
    <div class="box">
        <h1 style="text-align: center; color: blueviolet;">About</h1>
        <p>This is an app about a todo list app. You can make a list that you want to do, and mark it as done if you have done it</p>
    </div>
<%- include('footer') %>